{% extends "base.html" %}
{% block start %}

    <h2>This is INDEX PAGE</h2><br/>
    <h2>This is Bruce Wayne from Gotham</h2>
    <a href="/contact/">CONTACT</a>
    <a href="/about/">ABOUT</a>
    <table class="container">
        <tr>
            <th>S no</th>
          <th>Name</th>
          <th>Age</th>
          <th>Can Vote</th>
        </tr>
        {% for people in peoples%}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{people.name}}</td>
          <td>{{people.age}}</td>
          <td {% if people.age >= 18%} style="background:green {% endif %}">
            {% if people.age >= 18 %}
                yes
            {% else %}
                no
            {% endif %}
          </td>
        </tr>
        {% endfor %}        
      </table>

      <p>
        {% if "Mango" in vegetables %}
            yes
        {% else %}
            no
        {% endif %}

      </p>

      {% endblock %}